<article>
    <form>
        <div>
            <button class="btn">Nuevo visitante</button>
        </div>
        <!-- <div>
            <img src="" alt="foto del usuario registrado manual">
        </div> -->
        <div>
            <input #name type="text" placeholder="Ingresar nombre">
            <span>+</span>
            <span>-</span>
        </div>
        <input #email type="text" placeholder="Ingresar correo" required>
        <input #companyVisitor type="text" placeholder="Empresa" required>
        <input #comunero type="text" placeholder="A quien visitas?" required>
        <input #comuneroCompany type="text" placeholder="Empresa a la que visita" required>
        <div>
            <button class="btn" type="submit" (click)="getVisitorManual(name.value, email.value, companyVisitor.value, comunero.value, comuneroCompany.value)">continuar</button>
        </div>
    </form>
</article>