<app-menu></app-menu>
<article>
    <form>
        <div>
            <h1 class="btn">Invitacion</h1>
        </div>
        <!-- <div>
            <img src="" alt="foto del usuario registrado manual">
        </div> -->
        <div>
            <input #name type="text" placeholder="Ingresar nombre">
            <span>+</span>
            <span>-</span>
        </div>
        <input #email type="text" placeholder="Ingresar correo" required>
        <input #companyVisitor type="text" placeholder="Empresa de donde viene" required>
        <input #comunero type="text" placeholder="A quien visita?" required>
        <input #comuneroCompany type="text" placeholder="Empresa a la que visita" required>
        <div>
            <button class="btn" type="submit">Guardar</button>
        </div>
    </form>
</article>