* {
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: montserratRegular;
    src: url(../../../assets/fonts/Montserrat-Regular.ttf);
  }
  
  @font-face {
    font-family: montserratSemiBold;
    src: url(../../../assets/fonts/Montserrat-SemiBold.ttf);
  }
  
  input[type=text] {
    width: 100%;
    height: 44px;
    padding: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #f0f0f0 !important;
    border-radius: 6px;
    font-size: 16px;
    font-family: montserratRegular;
    color: #000013;
  }
  
  .form-control {
    border: 1px solid #f0f0f0 !important;
  }
  
  .container {
    border-radius: 100px;
    margin-top: 10%;
  }
  
  .container-1 {
   margin: 15px;
   font-weight: bolder; 
   display: flex;
  }
  
  .container-2 {
    margin: 15px;
    /* font-weight: bolder;  */
   }
  
  input:focus{
    outline: none !important;
    border:1px solid #00a8cd;
    box-shadow: none !important;
  }
  
  label {
    font-size: 12px;
    margin-top: 20px;
    font-weight: bolder;
    font-family: montserratRegular;
  }
  input {
    font-size: 16px;
    /* border-radius: 6px; */
  }
  
  .dot {
    background-position: relative;
    margin: 1%;
  }
  
  .btn-inicio {
    background-color: #ffd100;
    color: #000013;
    width: 100%;
    height: 44px;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: montserratSemiBold;
    font-size: 16px;
    margin-top: 5%;
    font-weight: bolder;
  }
  
  .btn-sign {
    background-color: #ffd100;
    color: #000013;
    width: 100%;
    height: 44px;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: montserratSemiBold;
    font-size: 16px;
    margin-top: 2%;
    font-weight: bolder;
  }

  h4{
    margin-top: 20px;
  }