<app-menu></app-menu>
<h1>Visitantes</h1>
<input type="text" name="filterVisitante" placeholder="Buscar visitante" [(ngModel)]="filterVisitante">
<button class="" routerLink="/new-visitor">Nuevo visitante</button>
<table>
    <thead>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Empresa</th>
        <th>Comunero</th>
        <th>Empresa a la que visita</th>
        <th>Hora de entrada</th>
        <th>Hora de salida</th>
    </thead>
    <tbody>
        <tr *ngFor="let visitor of visitors | filter: filterVisitante">
            <td>{{visitor.foto}}</td>
            <td>{{visitor.nombre}}</td>
            <td>{{visitor.empresaVisitante}}</td>
            <td>{{visitor.persona}}</td>
            <td>{{visitor.empresaPorVisitada}}</td>
            <td>{{visitor.fecha.toDate() | date: 'short'}}</td>
            <td>{{today| date: 'short'}}</td>
            <td><button (click)="getOutVisitor(visitors, visitor.id)">Finalizar visita</button></td>
        </tr>
    </tbody>
</table>