
<header>
    <div class="logo">
        <img src="../../../assets/imagenes/logo.ico.png" alt="">
    </div>
</header>
<form class="contenedor">
        <h1 class="tittle">Registro</h1>
    <div class="form-group">
        <label for="">Correo electronico *</label>
        <input #email id="email" type="email" placeholder="Ingresa un correo electronico" name="uname" required>
        <label for="">contraseña *</label>
        <input #password id="password" type="password" autocomplete="current-password" placeholder="Contraseña de 6 caracteres" name="psw" required>
    </div>
    <button type="button" class="btn-sesion" (click)="addUser(email.value, password.value)">Iniciar sesión</button>
</form>
<!-- <div class="field checkbox-container">
        <label class="checkbox">
            <input type="checkbox">
        <div class="checkmark">

        </div>
        <div class="label">
            <p class="principal">Acepto los terminos y condiciones establecidos en comunal</p>
            <p class="subtitule">He leido las letras pequeños.</p>
        </div>
    </label>
</div> -->