@font-face {
    font-family: montserratRegular;
    src: url(../../../assets/fonts/Montserrat-Regular.ttf);
  }
  @font-face {
    font-family: markRegular;
    font-weight: 400;
    src: url(../../../assets/fonts/Mark-Regular.ttf);
  }
  @font-face {
    font-family: tiempos;
    font-weight: 800;
    src: url(../../../assets/fonts/Tiempos+Headline-Black.otf);
  }
* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
  }
body{
  background-color: #fafafa;
}
 .logo{
    padding: 18px 0px 0px;
}
.logo img{
  /* height: 45px; */
  padding: 0px 20px;
  margin: auto;
  width: 120px; 
  
}
.contenedor{
  background-color: #fafafa;
    padding: 16px;
    margin: auto;
  width: 100%;
  
  max-width: 570px;
  padding: 30px;
  border-radius: 10px;
  margin-top: 6%; 
  }
  .tittle{
    font-family: tiempos, sans-serif;
    font-size: 46px;
    margin-bottom: 10px;
}
  label {
    font-family: markRegular, sans-serif;
    font-size: 14px;
    margin-top: 20px;
    width: 100%;
  }
input {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    font-size: 16px;
    font-family: montserratRegular;
    color: #0000139c;
    border:none;
    height: 42px;
  }
  input:focus{
    outline: none !important;
    border:1px solid #00a8cd
  }
  .btn-sesion{
    font-family: montserratRegular;
    margin-top: 16px;
    padding: 1px;
    border: none;
    background :#FFd100;
    color: #000013;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    width: 100%;
    height: 48px;
    font-weight: bolder;
  }
      
    .checkbox-container .checkbox input:checked ~ .checkmark {
      background-color: #00a8cd; 
    }
        .checkbox-container .checkbox input:checked ~ .checkmark:after {
          content: "";
          width: 18px;
          height: 18px;
          top: -1px;
          left: -1px;
          border: 1px solid transparent;
          border-radius: 4px;
          background: #00a8cd url("/static/images/checkbox-arrow.svg") no-repeat center; 
        }
    .checkbox-container .checkbox .checkmark {
      cursor: pointer;
      top: 4px;
      height: 18px;
      width: 18px;
      border-radius: 4px;
      border: 1px solid #00a8cd; 
    }
  
 .img-inicio img{
/* width: 30%; */
background-size: 20%;
overflow: hidden;
border: 20px;
padding: 15px;
width: 567px;
/* margin-top: -30%; */

 }
 .contenedor{
   position: absolute;
   transform: translateX(10%) translateY(-70%);
   top: 50%;
   left: 50%;
   
 }
 